Source: ros-groovy-sphero-driver
Section: misc
Priority: extra
Maintainer: Melonee Wise <melonee@meloneewise.com>
Build-Depends: debhelper (>= 7.0.50~), bluez, python-bluez, ros-groovy-catkin
Homepage: http://ros.org/wiki/sphero_driver
Standards-Version: 3.9.2

Package: ros-groovy-sphero-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bluez, python-bluez
Description: sphero_driver provides a python based driver for interfacing with the sphero over bluetooth.
